.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0 0 243px;
	height: 448px;
	border: 2px dashed #c4c4c4;
	border-radius: 6px;
}
.icon {
	margin-bottom: 12px;
}
.text__main {
	margin: 0 0 4px 0;
	line-height: 17px;
	text-align: center;
	color: #5d5fef;
}
.text__block {
	max-width: 100px;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #6b7280;
}
.box__first {
	background-color: #f0f9ff;
}
.box__none {
	background-color: #ffffff;
}
.line__insert {
	position: absolute;
}
.border__none {
	border: none;
}
