.wrapper {
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 8px 8px;
	width: 240px;
	height: 224px;
	left: 0px;
	top: 144px;
	background: #ffffff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 4px;
	text-align: center;
}
.mountedBox {
	box-shadow: none;
}
.notActive {
	opacity: 0.5;
}
